@import "_bacalao_init.scss";

.add-event__button
{
    background-color:   $white;
    border-radius:      10px;
    width:              20px;
    height:             20px;
    float:              right;
    margin-top:         15px;
    padding:            0;//deal w/ default-btn
    border:             none; //deal w/ default-btn

    &:before
    {
        content:        '+';
        display:        inline-block;
        font-size:      26px;
        line-height:    14px;
        margin-left:    1px;
        margin-top:     1px;
        color:          $button--add-event;   
    }

    &:active
    {    
        border:                     none;//deal w/ default-btn
        border-color:               $white;//deal w/ default-btn
        background-color:           $white;//deal w/ default-btn
    }

    &:hover 
    {
        background-color:           $white;//deal w/ default-btn
    }
}
