// @import "_bacalao_init";

.node-content
{
    display:        inline;
}

.bacalao
{
    margin:         27px auto;
    width:          960px;
}

body
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @extend .ProximaNova-Semibold;
}

.sidebar
{
    float:              left;
    width:              270px;
}

.events__columns
{
  padding:              20px 0 0 0;
  width:                670px;
  float:                right;
}