@import "_bacalao_init";

body
{
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // @extend %ProximaNova-Semibold;
}

.bacalao
{
    width:                  100%;

    @include breakpoint( 'tuna' )
    {
        max-width:          960px;
        margin:             27px auto;
    }
}





.main
{
    width:                      100%;

    @include breakpoint( 'shark' )
    {
        width:                  64%;
        display:                inline-block;
    }
}



