%card
{
    display:                block;
    // background: rgba(255, 255, 255, 0.8);
    border:                 1px solid #e6e6e6;
    margin-bottom:          20px;
    // -webkit-column-break-inside:        avoid;
    // -moz-column-break-inside:           avoid;
    // column-break-inside:                avoid;

    // background:         -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    // opacity:            1;

    -webkit-transition: all .2s ease;
    -moz-transition:    all .2s ease;
    -o-transition:      all .2s ease;
    transition:         all .2s ease;
    // width:              515px;
    // height:             340px;

}


%card__header
{
    background-color:       #fafafa;
    padding:                10px;
    box-sizing:             border-box;
    width:                  100%;
    border-bottom:                 1px solid #e6e6e6;

}

%card__content
{
    box-sizing:             border-box;
    padding:                10px;

}