@import "_bacalao_init.scss";


// .venue
// .venue-name
// .venue-address
// .venue-phone
// .details



.time
{
    color:                  $text--dark;
    @include rem-fallback( font-size, 1.6 );    
}

.time--from-now
{
    color:                  $text--light;
    @include rem-fallback( font-size, 1.1 );
}

.button__container
{
    text-align:             right;
}

button
{
    text-transform:         uppercase;
    margin-left:            10px;
}
