@import "card.scss";
@import "event_base.scss";




.event-box
{
    @extend %card;

    .event-box__details
    {

      &::after
      {
        display: table;
        clear: both;
      }
    }
}


.event-box__header
{
  @extend %card__header;
}

.event-box__content
{
  @extend %bacalao__content;
}

.event-box__time__container,
.event-box__location
{
    display:        inline-block;
}

.event-box__time__container
{
    @include rem-fallback( width, 9.8 );

    &:after
    {
         @include module__separator( 40px )
    }
}

.event-box__location
{
    @include rem-fallback( padding-left, 2.9 );
}

.event-box .event-box__creator-avatar,
.user--profile-pic
{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.event-box__attendee-pictures
{
  padding-top:        10px;

  &::after
  {
    display: table;
    clear:both;
  }

}

.event-box__attendees-avatar
{
  width:              50px;
  height:             50px;
  display:            block;
  border-radius:      50px;
  margin-right:       5px;
  display:            inline-block;
  margin-right:       10px;
  margin-bottom:      10px;

    &:hover
    {
      cursor:         pointer;
      text-shadow: 1px 1px 1px #000;
    }
}


.event-box__attendees-avatar-creator
{
    border: 2px solid aqua;
}

.event-box__icon
{
    margin-right: 7px;
}
