@import "card.scss";




.event-box
{
    @extend %card;

    .event-box__details
    {

      &::after
      {
        display: table;
        clear: both;
      }
    }
}


.event-box__header
{
  @extend %card__header;
}

.event-box__content
{
  @extend %bacalao__content;
}


.event-box__.event-box__creator-avatar,
.user--profile-pic
{
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.event-box__details__text
{
  width: 460px;
  &::after
  {
    display: table;
    clear: both;
  }
}
.event-box--metadata
{
    margin-bottom:      4px;
}

.event-box__title
{
    margin-top:          0;
}

.event-box__time,
.event-box__organizer,
.event-box__atendees
{
    @extend .event-box--metadata;
}


.event-box__atendee-pictures
{
  padding-top:        10px;

  &::after
  {
    display: table;
    clear:both;
  }

}
.event-box__atendees-avatar
{
  width:              35px;
  height:             35px;
  display:            block;
  float:              left;
  border-radius:      35px;
  margin-right: 5px;

    &:hover
    {
      cursor:         pointer;
      text-shadow: 1px 1px 1px #000;
    }
}

.event-box__buttons
{
    float: right;
}

.event-box__icon
{
    margin-right: 7px;
}
