// .venue
// .venue-name
// .venue-address
// .venue-phone
// .time
// .details


.button__container
{
    text-align:             right;
}

button
{
    text-transform:         uppercase;
    margin-left:            10px;
}
