.new-event__box
{
    padding: 15px;
}

.new-event__box .form-group
{
	margin-right: 7px;
}


.new-event__box--venue
{
    width: 300px;
}


// puts the google places autocomplete dropdown results above the bootstrap modal 1050 zindex.
.pac-container {
    z-index: 1051 !important;
}
