
@import "card.scss";


.sidebar
{
    width:                      100%;
    @extend %card;

    @include breakpoint( 'shark' )
    {
        width:                  31%;
        display:                inline-block;
        margin-right:           20px;
        vertical-align:         top;
    }
}

.sidebar__header
{
    @extend %card__header;
    background-color:   #289bc8;
}

.sidebar__content
{
    @extend %card__content;
}





// .app-title, .app-user, .app-new-event
// {
//     float: left;
// }

// .app-user
// {
// 	position: absolute;
// 	right:10px;
// }

// .app-new-event
// {
// 	margin-left: 12px;
// }

