.bacalao--navbar
{
    background-color: rgba(252, 141, 44, 0.3);
    // position:         fixed;
    // height:           70px;
    // width:            100%;
    // z-index:          999;
}

.app-title, .app-user, .app-new-event
{
    float: left;
}

.app-user
{
	position: absolute;
	right:10px;
}

.app-new-event
{
	margin-left: 12px;
}
