// @import "_bacalao_init";

.user, .user--logout
{
    color:          #fff;
}

.user--logout
{
    text-decoration: underline;
}

.user--current-user
{
  display:          inline-block;
}



.user--profile-pic
{
    margin-right: 7px
}
