// @import "_bacalao_init";

.user
{
    position :      relative;
    color:          #fff;
    width:          92%;

    a 
    {
        color: red;
    }
}

.user--current-user
{
  display:          inline-block;
}



.user--profile-pic
{

}